.image-container {
  display: inline-block;
  width: 100px; /* Chiều rộng của mỗi ảnh */
  height: 100px; /* Chiều cao của mỗi ảnh */
  margin-right: 10px; /* Khoảng cách giữa các ảnh */
  position: relative;
  }
  
  .uploaded-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .main-image {
    border: 2px solid green;
  }
  
  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
  }
  
  .image-container:hover .delete-button {
    display: block;
  }
  
  .check-icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  